<html>

<head>
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default-dark.css">
    <style>
        .title {
            font-weight: 600;
        }

        .number {
            font-weight: 500;
            color: #f55;
        }

        .md-layout-item {
            margin: 10px 0px;
        }
    </style>
</head>

<body>
    <div id="app">
        <md-dialog :md-active.sync="showDialogClient">
            <md-dialog-title>Ajout d'un nouveau client</md-dialog-title>
            <div>
                <md-field>
                    <label>Nom</label>
                    <md-input v-model="nom"></md-input>
                </md-field>

                <md-field>
                    <label>Adresse</label>
                    <md-input v-model="Adresse" readonly></md-input>
                </md-field>
            </div>
            <md-dialog-actions>
                <md-button class="md-primary" @click="showDialogClient = false">Fermer</md-button>
                <md-button class="md-primary" @click="showDialogClient = false">Enregistrer</md-button>
            </md-dialog-actions>
        </md-dialog>
        <md-dialog :md-active.sync="showDialogChantier">
            <md-dialog-title>Ajout d'un nouveau chantier</md-dialog-title>
            <div>
                <md-field>
                    <label>Nom</label>
                    <md-input v-model="nom"></md-input>
                </md-field>

                <md-field>
                    <label>Adresse</label>
                    <md-input v-model="Adresse" readonly></md-input>
                </md-field>
            </div>
            <md-dialog-actions>
                <md-button class="md-primary" @click="showDialogChantier = false">Fermer</md-button>
                <md-button class="md-primary" @click="showDialogChantier = false">Enregistrer</md-button>
            </md-dialog-actions>
        </md-dialog>
        <md-toolbar>
            <div class="md-toolbar-section-start title">
                <div class="title">THOMAS LOCATION</div>
            </div>
            <div class="md-toolbar-section-end">
                Bon n°&nbsp;<span class="number">0000254</span>
            </div>
        </md-toolbar>

        <div class="md-layout md-layout-gutter">

            <div class="md-layout-item">
                <md-card>
                    <md-autocomplete v-model="client" :md-options="clients">
                        <label>Client</label>
                    </md-autocomplete>
                    <md-button class="md-primary md-raised" @click="showDialogClient = true">Nouveau client</md-button>
                </md-card>
            </div>

            <div class="md-layout-item md-size-100">
                <md-card>
                    <md-field>
                        <label for="chantier">Chantier</label>
                        <md-select v-model="chantier" name="chantier" id="chantier">
                            <md-option value="1">Chantier 1</md-option>
                            <md-option value="2">Chantier 2</md-option>
                            <md-option value="3">Chantier 3</md-option>
                        </md-select>
                    </md-field>
                    <md-button class="md-primary md-raised" @click="showDialogChantier = true">Nouveau chantier
                    </md-button>
                </md-card>
            </div>
            <div class="md-layout-item md-size-100">
                <md-card>
                    <md-card-header>
                        <div class="md-title">Matériel</div>
                    </md-card-header>
                    <md-tabs>
                        <md-tab id="umd" md-label="UMD">
                            <md-field>
                                <label for="parcs">Sélection du Parc</label>
                                <md-select v-model="parc" name="parcs" id="parcs">
                                    <md-option value="Q10">Q10</md-option>
                                    <md-option value="Q20">Q20</md-option>
                                </md-select>
                            </md-field>
                            <div v-if="parc === 'Q10'">
                                <md-chip class="md-accent">Filtres 10P</md-chip>
                                <div>
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label>5 Mic</label>
                                            <md-input v-model="empty" type="number" />
                                        </md-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label>25 Mic</label>
                                            <md-input v-model="empty" type="number" />
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div v-if="parc === 'Q20'">
                                <md-chip class="md-accent">Filtres 20P</md-chip>
                                <div>
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label>5 Mic</label>
                                            <md-input v-model="empty" type="number" />
                                        </md-field>
                                    </div>
                                </div>
                                <div>
                                    <div class="md-layout-item md-small-size-100">
                                        <md-field>
                                            <label>25 Mic</label>
                                            <md-input v-model="empty" type="number" />
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab id="deprimogene" md-label="Deprimogène">
                            <md-field>
                                <label for="parcs">Sélection du Parc</label>
                                <md-select v-model="parc" name="parcs" id="parcs">
                                    <md-option value="Q1">Q1</md-option>
                                    <md-option value="Q2">Q2</md-option>
                                </md-select>
                            </md-field>
                        </md-tab>
                    </md-tabs>
                </md-card>
            </div>
            <div class="md-layout-item md-size-100">
                <md-card>
                    <md-card-header>
                        <div class="md-title">Accessoires</div>
                    </md-card-header>
                    <md-field>
                        <label for="accessories">Sélection des accessoires</label>
                        <md-select v-model="accessories" name="accessories" id="accessories" multiple>
                            <md-option value="Rallonge électrique">Rallonge électrique</md-option>
                            <md-option value="Manivelle">Manivelle</md-option>
                            <md-option value="Clé de serrage bocaux">Clé de serrage bocaux</md-option>
                            <md-option value="Piquet de terre + Cable UMD">Piquet de terre + Cable UMD</md-option>
                            <md-option value="Cale de roue">Cale de roue</md-option>
                        </md-select>
                    </md-field>
                    <div>
                        <md-chips v-model="accessories" class="md-primary" md-static></md-chips>
                    </div>
                </md-card>
            </div>

            <div class="md-layout-item md-size-100">
                <md-card>
                    <md-card-header>
                        <div class="md-title">Observations</div>
                    </md-card-header>
                    <md-field>
                        <label>Notez ici vos observations</label>
                        <md-textarea v-model="observations" md-autogrow></md-textarea>
                    </md-field>
                </md-card>
            </div>

        </div>

        <md-button class="md-accent md-raised">Valider</md-button>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script>
        Vue.use(VueMaterial.default)

        new Vue({
            el: '#app',
            data: {
                showDialogClient: false,
                showDialogChantier: false,
                message: "Thomas Location",
                clients: [
                    'Client 1',
                    'Client 2',
                    'Client 3'
                ],
                client: null,
                chantier: "2",
                parc: "",
                observations: "",
                fivemic: false,
                twentyfivemic: false,
                accessories: []
            }
        })
    </script>

</body>

</html>